<style>
    :host {
        font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
            "Segoe UI Symbol";
    }
</style>

<main>
    <div class="container p-4">
        <!-- <pre>

      {{ stringifyHomes() }}
    </pre> -->

        @if (loading) {
        <div>Loading arts...</div>

        }
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
            @for (item of arts; track $index) {
            <a href="{{ item.url }}" target="_blank">
                <div
                    class="border  bg-blue-100 rounded-lg shadow-lg drop-shadow-lg h-full transition duration-500 ease-in-out data-[closed]:opacity-0 hover:-translate-y-2">
                    <img class="rounded-t-lg w-full " src="{{ item.multimedia[1].url }}" alt="">
                    <div class="p-4">


                        <div class="text-xl font-extrabold my-3">
                            {{ item.title }} <!-- Adjust according to your actual data structure -->
                        </div>
                        <div>
                            {{ item.abstract }} <!-- Adjust according to your actual data structure -->
                        </div>
                    </div>
                </div>
            </a>
            }
        </div>
    </div>




</main>