<main>
  <div class="p-4">
    <div class="flex justify-center bg-blue-400 rounded-lg">
      <div class="flex justify-between gap-5 font-bold">
        <!-- {{ router.length }} -->
        <!-- <pre>

          {{ getRouter() }}
        </pre> -->
        <!-- <a class="hover:bg-black hover:text-white rounded-md py-1 px-3 m-3" href="/">Home</a> -->
        @for (item of getRouter(); track $index) {
        <a class="hover:bg-black hover:text-white rounded-md py-1 px-3 m-3" href="/{{ item.path }}">{{ item.title }}</a>
        }
      </div>
    </div>
  </div>
</main>
<router-outlet />