<style>
  :host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }
</style>

<main>
  <div class="container">
    <!-- <pre>

      {{ stringifyHomes() }}
    </pre> -->

    @if (loading) {
    <div>Loading homes...</div>

    }
    <div class="grid grid-cols-4 gap-4">
      @for (item of homes; track $index) {
      <div class="border p-4 bg-blue-100">


        <div>
          {{ item.title }} <!-- Adjust according to your actual data structure -->
        </div>
        
      </div>
      }
    </div>
  </div>




</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />